//CLEARFIX
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUIERIE MANAGER
/*

0 - 600px:         Phone
600px - 900px:     Tablet portrait
900px - 1200px:    Tablet landscape
[1200px - 1800px] is where normal styles apply
1800px +           Big desktop
*/


@mixin respond-phone {
  @media (max-width: 600px) { @content };
}

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

ems best option for media queries
1em = 16px;
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content }; //600px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content }; //900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content }; //1200px
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content }; //1800px
  }
}
